@font-face {
    font-family: 'Work-Sans';
    font-style: normal;
    font-weight: normal;
    src: local('WorkSans-VariableFont_wght'), url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}