@{
    ViewBag.Title = "NUPRC offices";
}

<div class="row">
    <div class="pageTitle bg1">
        <h2 class="thin padding20">Contact Us</h2>
    </div>
</div>
<div class="">
    <div class="flex-grid">
        <div class="row cells2">
            <div class="cell colspan5">
                <div class="padding20">
                    <h3>NUPRC HeadQuaters</h3>
                    <hr class="thin bg-grayDark" />
                    <p>
                        7, Kofo ABayomi Street, Victoria Island,<br />
                        Lagos State.
                    </p>
                    <p>
                        <b>Telephone:</b> +234 (1) 2790000, + 234 (1) 9037150<br />
                        <b>Email:</b> elps@dpr.gov.ng
                    </p>
                    <hr class="thin bg-grayDark" />
                    <p>
                        <b>Dorothy Bassey (Ms)</b>
                    </p>
                    <p>
                        <b>Telephone:</b> +234 (1) 2790000, + 234 (1) 9037150 Ext. 50988<br />
                        <b>Mobile:</b> +234(0)805 609 9175<br />
                        <b>Email:</b> bassey.d.e@dpr.gov.ng<br />
                        <b>Alternate:</b> dorothybassey@hotmail.com
                    </p>
                </div>
            </div>
            <div class="cell colspan7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3964.6697580055315!2d3.4143157000000057!3d6.436444600000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8ad6f06c87a9%3A0x764d72875b785de7!2s7+Kofo+Abayomi+St%2C+Lagos!5e0!3m2!1sen!2sng!4v1429781625299" frameborder="0" style="border:0; position: relative; width: 100%; min-height: 400px;"></iframe>
            </div>
        </div>
    </div>
    <hr />
    <div class="padding10">
        <p>
            For effective coverage of the whole country, NUPRC maintains several Zonal and 15 Field Offices in different parts of the country.
        </p>
    </div>
    <div class="flex-grid">
        <div class="row cells2">
            
            <div class="cell colspan4">
                <div class="padding10">
                    <h3>Zonal Offices</h3>
                    <div class="accordion" data-role="accordion" id="accordion">
                        <div class="frame">
                            <div class="heading">
                                Lagos
                            </div>
                            <div id="zLagos" class="content">
                                <div class="panel-body " style="white-space: pre-line">
                                    @*<b>Mrs. C.N. Njoku</b>*@
                                    Department of Pet. Resources,
                                    5, Kofo Abayomi Street, Victoria Island, Lagos.
                                    @*<b>Tel:</b> 0805 829 8819*@
                                </div>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="heading">
                                Abuja
                            </div>
                            <div id="zLagos" class="content">
                                <div class="panel-body " style="white-space: pre-line">
                                    @*<b>Mr. M.A. Usman</b>*@
                                    Department of Pet. Resources,
                                    7, Sylvestre Ugoh Cresent Jabi, Abuja.
                                    @*<b>Tel:</b> 0805 829 8865*@
                                </div>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="heading">
                                Port Harcourt
                            </div>
                            <div id="zPH" class="content">
                                <div class="panel-body " style="white-space: pre-line">
                                    @*<b>Mrs.O.C. Sibeudu</b>*@
                                    Department of Pet. Resources,
                                    4-9, Moscow Road, NNPC, PH.
                                    @*<b>Tel:</b> 0805 609 9183*@
                                </div>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="heading">
                                Warri
                            </div>
                            <div id="zWarri" class="content">
                                <div class="panel-body " style="white-space: pre-line">
                                    @*<b>Mr. O.A. Adeleke</b>*@
                                    Department of Pet. Resources,
                                    19/21, Warri Sapale road, Delta state.
                                    @*<b>Tel:</b> 0805 829 8847*@
                                </div>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="heading">
                                Kaduna
                            </div>
                            <div id="zKaduna" class="content">
                                <div class="panel-body " style="white-space: pre-line">
                                    @*<b>Mr. M.F. Jahun</b>*@
                                    Department of Pet. Resources,
                                    24, Gobarau road, GRA, Kaduna State.
                                    @*<b>Tel:</b> 0805 829 8860*@
                                </div>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="heading">
                                Maiduguri
                            </div>
                            <div id="zMaiduguri" class="content">
                                <div class="panel-body " style="white-space: pre-line">
                                    Department of Pet. Resources,
                                    Bama Road, Sports Council, Maiduguri.
                                </div>
                            </div>
                        </div>
                        <div class="frame">
                            <div class="heading">
                                Owerri
                            </div>
                            <div id="zOwerri" class="content">
                                <div class="panel-body " style="white-space: pre-line">
                                    @*<b>Mr. I.N. Akpamgbo</b>*@
                                    Department of Pet. Resources,
                                    1, Chief Patrick Esomonu Avenue, Owerri, Imo state.
                                    @*<b>Tel:</b> 0805 609 9185*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell colspan8">
                <div class="padding10">
                    <h3 class="">Field Offices</h3>
                    <div class="flex-grid">
                        <div class="row cells2">
                            <div class="cell colspan6">
                                <div class="" style="padding-right: 10px;">
                                    <div class="accordion" data-role="accordion" id="accordion1">
                                        <div class="frame">
                                            <div class="heading">
                                                Ibadan
                                            </div>
                                            <div id="fIbadan" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr I.O. Ogunlana</b>*@
                                                    Department of Pet. Resources,
                                                    No 1, E.E. Nwanagu Close, State Hospital area, Ring Road, Ibadan, Oyo state.
                                                    @*<b>Tel:</b> 0807 069 0636*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">Ilorin
                                            </div>
                                            <div id="fIlorin" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. A.O. Jokodola</b>*@
                                                    Department of Pet. Resources,
                                                    19A, Nupe road, GRA Ilorin, Kwara State.
                                                    @*<b>Tel:</b> 0805 520 2657*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Jos
                                            </div>
                                            <div id="fJos" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. I.Y. Abubakar</b>*@
                                                    Department of Pet. Resources,
                                                    9, Wamba road, Tudun wada GRA, PMB 2152.
                                                    @*<b>Tel:</b> 0805 829 8855*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Lokoja
                                            </div>
                                            <div id="fLokoja" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. Salvation Philip</b>*@
                                                    Department of Pet. Resources,
                                                    No 6, Aniebo Quarters, Off Ganaja Road, Lokoja Kogi state.
                                                    @*<b>Tel:</b> 0815 061 8402*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Aba
                                            </div>
                                            <div id="fAba" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>O.U. Ogwo</b>*@
                                                    Department of Pet. Resources,
                                                    Pring Towers. 229, Aba/Owerri Road, Abia State.
                                                    @*<b>Tel:</b> 0805 669 6574*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Eket
                                            </div>
                                            <div id="fEket" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. A.E. Antai</b>*@
                                                    Department of Pet. Resources,
                                                    6, Ekpene Ukpa Avenue, Eket, Akwa Ibom State.
                                                    @*<b>Tel:</b> 0805 749 3258*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Akure
                                            </div>
                                            <div id="fAkure" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. M.A. Oseni</b>*@
                                                    Department of Pet. Resources,
                                                    Plot B &amp; C, Ondo state Industrial Layout, Ilesha/Owo express way, Akure, Ondo State.
                                                    @*<b>Tel:</b> 0805 649 7117*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell colspan6">
                                <div class="" style="padding-left: 10px;">
                                    <div class="accordion" data-role="accordion" id="accordion2">
                                        <div class="frame">
                                            <div class="heading">
                                                Kano
                                            </div>
                                            <div id="fKano" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mrs. Isah Tafida</b>*@
                                                    Department of Pet. Resources,
                                                    146, Shehu Kazaure Road, Hotoro GRA, Kano State.
                                                    @*<b>Tel:</b> 0815 061 8402*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Sokoto
                                            </div>
                                            <div id="fSokoto" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. U.S. Moriki</b>*@
                                                    Department of Pet. Resources,
                                                    No 3, Sultan Ibrahim Dasuki Road, Sokoto State.
                                                    @*<b>Tel:</b> 0805 609 9187*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Yola
                                            </div>
                                            <div id="fYola" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. Idris Zoaka Ali</b>*@
                                                    Department of Pet. Resources,
                                                    39, Polise Barracks road, Karewa New Extension, GRA, Jimeta Yola.
                                                    @*<b>Tel:</b> 0807 069 0650*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Makurdi
                                            </div>
                                            <div id="fMakurdi" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. Abdullahi Isah</b>*@
                                                    Department of Pet. Resources,
                                                    Plot Bn 031, Ankpa Quarters, GRA, Makurdi Benue State.
                                                    @*<b>Tel:</b> 0805 669 6578*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Gombe
                                            </div>
                                            <div id="fGombe" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Z.M. Aji</b>*@
                                                    Department of Pet. Resources,
                                                    Alh. Aliyumuh'd Plaza, Bauchi Road, Bauchi State.
                                                    @*<b>Tel:</b> 0807 069 0633*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Enugu
                                            </div>
                                            <div id="fEnugu" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>P.I. Ijeh</b>*@
                                                    Department of Pet. Resources,
                                                    Plot 1, Enugu/PH express way, near NNPC mega station, Enugu state.
                                                    @*<b>Tel:</b> 0807 069 0611*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Yenagoa
                                            </div>
                                            <div id="fYenagoa" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. U.B. Nkanga</b>*@
                                                    Department of Pet. Resources,
                                                    Bayelsa State Secretariat Annex II, Yenagoa, Bayelsa State.
                                                    @*<b>Tel:</b> 0805 669 6566*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="frame">
                                            <div class="heading">
                                                Katsina
                                            </div>
                                            <div id="fKatsina" class="content">
                                                <div class="panel-body " style="white-space: pre-line">
                                                    @*<b>Mr. M.A. Sani</b>*@
                                                    Department of Pet. Resources,
                                                    Katsina State Secretariat, Old Ministry of Works, Housing block, Katsina State.
                                                    @*<b>Tel:</b> 0807 0690635*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>