@{ 
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/assets/images/coat-of-arm1.jpg" /> -->

    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/font.css" />
    <link rel="stylesheet" href="~/Content/assets/css/Loader.css" />
    <link rel="stylesheet" href="~/Content/assets/css/custom.css" />


    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>

    <div class="NotFound d-flex flex-column align-items-center justify-content-center">
        <div class="display-3 text-muted text-bold">404</div>
        <div>Page Not Found</div>
    </div>


    <script src="~/Content/assets/Js/jquery-3.5.1.min.js"></script>
    <script src="~/Content/assets/Js/bootstrap.bundle.min.js"></script>
</body>
</html>
