
@{
    ViewBag.Title = "Utilities";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <h2 class="lefty">Utility Menu</h2>
    <div class="righty">

    </div>
    <hr class="clear" />

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="@Url.Action("LoadLogs", "Utility")">Load Log</a>
                </li>
            </ul>
        </div>
    </div>
</div>