@model ELPS.Models.LogModel

@{
    Layout = null;
}

<textarea class="form-control" style="min-height: 500px;">@Model.LogBody</textarea>

@*<div class="" style="width: 100%; border: 1px solid #ddd; max-height: 500px; overflow-y: auto;">@Model.LogBody</div>*@